################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CopaFilmes/.vs/
/CopaFilmes/CopaFilmes.Dominio/bin/
/CopaFilmes/CopaFilmes.Dominio/obj/
/CopaFilmes/RepositorioAPI/obj
/CopaFilmes/RepositorioAPI/bin
/CopaFilmes/CopaFilmes.Tests/obj
/CopaFilmes/CopaFilmes.Tests/bin
