################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CopaFilmes/.vs/
/CopaFilmes/CopaFilmes.Dominio/bin/
/CopaFilmes/CopaFilmes.Dominio/obj/