################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CopaFilmes.Dominio/.vs/CopaFilmes.Dominio/v16
